html {
  font-size: $font-size-root;
  font-family: $font-family-base;
}

body {
  background: #fff;
  color: $text-color;
  //text-rendering: auto;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}