@font-face {
  font-family: 'heliosc';
  src: url('fonts/helios/heliosc-webfont.eot');
  src: url('fonts/helios/heliosc-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/helios/heliosc-webfont.woff2') format('woff2'),
  url('fonts/helios/heliosc-webfont.woff') format('woff'),
  url('fonts/helios/heliosc-webfont.ttf') format('truetype'),
  url('fonts/helios/heliosc-webfont.svg#helioscregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'heliosc';
  src: url('fonts/helios/heliosc-bold-webfont.eot');
  src: url('fonts/helios/heliosc-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/helios/heliosc-bold-webfont.woff2') format('woff2'),
  url('fonts/helios/heliosc-bold-webfont.woff') format('woff'),
  url('fonts/helios/heliosc-bold-webfont.ttf') format('truetype'),
  url('fonts/helios/heliosc-bold-webfont.svg#helioscbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'helioslightcregular';
  src: url('fonts/helios/helioslightc-webfont.eot');
  src: url('fonts/helios/helioslightc-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/helios/helioslightc-webfont.woff2') format('woff2'),
  url('fonts/helios/helioslightc-webfont.woff') format('woff'),
  url('fonts/helios/helioslightc-webfont.ttf') format('truetype'),
  url('fonts/helios/helioslightc-webfont.svg#helioslightcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heliosthincregular';
  src: url('fonts/helios/heliosthinc-webfont.eot');
  src: url('fonts/helios/heliosthinc-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/helios/heliosthinc-webfont.woff2') format('woff2'),
  url('fonts/helios/heliosthinc-webfont.woff') format('woff'),
  url('fonts/helios/heliosthinc-webfont.ttf') format('truetype'),
  url('fonts/helios/heliosthinc-webfont.svg#heliosthincregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'helioscondcregular';
  src: url('fonts/helios/helioscondc-webfont.eot');
  src: url('fonts/helios/helioscondc-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/helios/helioscondc-webfont.woff2') format('woff2'),
  url('fonts/helios/helioscondc-webfont.woff') format('woff'),
  url('fonts/helios/helioscondc-webfont.ttf') format('truetype'),
  url('fonts/helios/helioscondc-webfont.svg#helioscondcregular') format('svg');
  font-weight: normal;
  font-style: normal;

}