.header {
}

.header__fixed {
  position: relative;
  z-index: 100;
  height: 80px;
  .header__container {
    position: fixed;
    left: 0;
    top: 0;
  }
}

.header__container {
  width: 100%;
  background: rgba(248, 248, 248, 0.8);
  @include rem(padding, 0 35px);
  @include clearfix;
}

.header__logo {
  line-height: 80px;
  img {
    vertical-align: middle;
  }
}

.header__language {
  vertical-align: top;
  background: #1e1a33;
  color: #fff;
  font-family: Arial, sans-serif;
  @include rem-font-size(9px);
  font-weight: bold;
  padding: 1px 3px;
}

.header__toggler {
  display: block;
  float: right;
  border: none;
  background: none;
  @include rem-font-size(24px);
  vertical-align: middle;
  outline: none;
  padding: 0;
  line-height: 30px;
  margin: 25px 0;
}

.header__collapsing-block {
  text-align: center;
}

//Стили для обычного меню
@include media-breakpoint-up(md) {

  .header__toggler {
    display: none;
  }

  .header__collapsing-block {
    float: right;
    display: block;
    height: auto !important;
    text-align: right;
  }
}
