//Шрифты

$font-family-base: Arial !default;
$font-size-root: 14px !default;

$text-color: #000 !default;
$link-color: #000 !default;
$link-hover-color: #000 !default;

$spacer: 20px !default;

$grid-breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
) !default;